.tbl, .th1, .td1 {
  border: 1px solid black;
}

.parts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.parts-content {
  flex: 1;
}

.parts-content img {
  float: right;
  max-width: 400px;
  padding-right: 70px;
  height: auto;
}

p {
  font-size: 22px;
}
