body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 25px;
}

li {
    font-size:25px;
}

.pagecontent {
    width: 10;
}

/*Navigation bar*/
.navbar {
    overflow: hidden;
    background-color: #495057;
    border: 0px;
    position:fixed;
    z-index: 1; /*Ensure Navbar is displayed above other elements*/
    top: 0; /*Keep Navbar on top of screen*/
    width: 100%;
}
  
.navbar a { /*Navigation Links*/
    float: left;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    border-color: #B0B0B0;
    margin-top: 5px;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    overflow: hidden;  
}
  
.navbar a:hover { /*When hovered over*/
    background-color: #00FF00;
    color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}
  
.navbar a.active { /*Home button*/
    background-color: #B0B0B0;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px #FFFFFF;
}
.navbar a.active:hover { /*Home button when hovered over*/
    background-color: #818080;
}

.main-content { /*Style the main content*/
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-right {  /*Navbar elements with this class appears on the right*/
    float: right;
}

.pagetitle { /*Individual page titles*/
    text-align: center;
    font-size: 70px;
    padding-top: 200px;
    padding-bottom: 200px;
    color: rgb(232, 215, 215);
    color: #FFFFFF;
    -webkit-text-stroke:1px #000000;
    text-shadow: 1px 1px 2px black;
    background-repeat: no-repeat;
    background-size: cover;
}

.highlight-container, .highlight {
    position: relative;
}
  
.highlight-container {
    display: inline-block;
}

.highlight-container:before {
    content: " ";
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: #00FF00;
    transform: rotate(1deg);
    top: 4px;
    left: -1px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
  }

.underline {
    display: inline;
    border-bottom: 3px solid #f9dd94;
}

.footer-content{
    background-color: #333; /* Set the background color for the footer */
    color: #fff; /* Set the text color */
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center-align the content */
  }
  
.footer-links {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
  }
  

  .footer-links li {
    display: inline-block;
  }

.footer-bottom {
    font-size: 4px;
    color: #B0B0B0;
}

.expanding-hover {
    text-decoration: none;
    transition: transform 0.3s ease;
}

.expanding-hover:hover{
    transform: scale(1.2);
}

  
